.row {
    display: flex;
}

.week-schedule {
    flex: 6;
}

.hours {
    flex: 1;
    grid-template-rows: repeat(24, 1fr);
    /* Set the grid rows to evenly distribute hours */
}

.weekdays {
    flex: 6;
    display: flex;
    grid-template-columns: repeat(7, 1fr);
    /* Set the grid columns to evenly distribute weekdays */
}

.day {
    text-align: center;
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.hour {
    text-align: center;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* Set the grid columns to evenly distribute weekdays */
}

.day-schedule {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    /* Set the grid rows to evenly distribute hours */
}

.hour-slot {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}